.wrapper {
  margin: 0 1rem;
}

section {
  margin-bottom: 3rem;
}

.App-header {
  padding: 3rem 3rem 3rem 0;
  background-color: #222;
  color: white;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: 900px;
    margin: 0 auto;
  }
  .App-header {
    padding-right: 0;
  }
}