@import '../variables.css';

.form-datetype {
  display: flex;
  flex-direction: column;
}

.label-radio {
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  position: relative;
  top: 1px;
}

.label-radio input {
  margin-right: 0.3rem;
}

.form-convert {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.form-convert input {
  font-size: 1rem;
}

.result-line {
  margin-top: 1.5rem;
}

.result-title {
  font-weight: bold;
}

.result-date {
  margin-right: 0.5rem;
}

@media screen and (min-width: 800px) {
  .form-datetype {
    flex-direction: row;
  }
}