@import '../variables.css';

.timer {
  margin: 2rem 0;
  padding: 1rem 3rem 1.5rem;
  border: 1px solid var(--maroon);
  max-width: 300px;
}

.timer-text {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

@media screen  and (min-width: 768px) {
  .section-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .timer:first-child {
    flex-basis: 100%;
    max-width: none;
  }
  .timer:nth-child(n+2) {
    flex-basis: 30%;
  }
}

@media screen  and (min-width: 1000px) {
  .section-timer {
    flex-wrap: nowrap;
  }
  .timer {
    width: 220px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
  }
  .timer:first-child {
    flex-basis: unset;
  }
  .timer:nth-child(n+2) {
    flex-basis: unset;
  }
}